@keyframes backgroundrotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.sign {
  display: flex;
  width: 100%;
  min-width: 618px;
  max-width: 50vw;
  height: calc(#{100%} / 618 * 390);
  min-height: 390px;
  border-radius: 8px;
  overflow: hidden;

  &__image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    overflow: hidden;
    background-color: pink;

    &::after {
      content: "";
      position: absolute;
      top: -50%;
      left: -50%;
      z-index: 1;
      width: 200%;
      height: 200%;
      background-image: url("../../images/sign/fon.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      animation: backgroundrotate 10s linear infinite;
    }

    p {
      z-index: 2;
      color: #fff;
      font-weight: 800;
      font-size: 3em;
      text-align: center;
    }
  }
}
