.form{
  background-color: #fff;
  width: 50%;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__title{
    font-size: 2em;
    margin-bottom: 3px;
  }

  &__subtext{
    font-size: 0.9em;
    color: #8B8989;
    margin-bottom: 10px;
  }

  &__label{
    font-size: 0.9em;
    color: #686868;
    margin-bottom: 3px;
  }

  &__input{
    font-size: 0.9em;
    margin-bottom: 5px;
    height: 30px;
    border: 1px solid #f87075;
    border-radius: 20px;
    outline: none;
    background: none;
    padding:8px 11px;
  }

  &__error{
    font-size: 0.8em;
    color: #BD0B00;
    margin-bottom: 5px;
  }

  &__question{
    color: #8B8989;
  }

  &__submit{
    font-size: 0.9em;
    color: #fff;
    width: 70%;
    margin: 5px auto;
    border: none;
    outline: none;
    height: 30px;
    border-radius: 15px;
    background: linear-gradient(108.28deg, rgb(247, 204, 161) 2.548%,rgb(252, 3, 65) 110.227%);
    box-shadow: 2px 2px 2px rgba(0,0,0,.3);
  }

  &__redirect{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    gap: 5px;
    margin-top: 5px;
  }

  &__link{
    text-decoration: none;
    color: #ff406f;
  }
}