.sign{
  max-width: 50vw;
  width: 100%;
  min-width: 618px;
  display: flex;
  height: calc(#{100%} / 618 * 390);
  min-height: 390px;
  border-radius: 8px;
  overflow: hidden;


  &__image{
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    overflow: hidden;

    &::after{
      content: "";
      position: absolute;
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
      background-image: url(../images/sign/fon.svg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      z-index: 1;
      animation: background-rotate 10s linear infinite;
    }

    p{
      text-align: center;
      color: #fff;
      font-size: 3em;
      font-weight: 800;
      z-index: 2;
    }
  }
}

@keyframes background-rotate {
  from{
    transform: rotate(0deg) rotate3d();
  }
  to{
    transform: rotate(360deg);
  }
}