.chat-list{
  height: 100%;
  overflow-y: scroll;
}

@supports (scrollbar-color: auto) {
  .chat-list {
    scrollbar-color: rgb(252 3 65 / 100%) rgb(185 85 85 / 50%);
  }
}

@supports selector(::-webkit-scrollbar) {
  .chat-list {
    scrollbar-color: unset;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: rgb(185 85 85 / 50%);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgb(252 3 65 / 100%);
  }
}
